<div class="form">
<form>
  <h1>Practitioner details:</h1>
<div>
  <label for="id">ID: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="id" value="{{practitioner?.id}}" disabled>
</div>
<div>
  <label for="identifier">Identifier: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="identifier" value="{{practitioner?.identifier}}" disabled>
</div>
<div>
  <label for="name">Name: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="name" value="{{practitioner?.name}}" disabled>
</div>
<div>
  <label for="surname">Surname: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="surname" value="{{practitioner?.surname}}" disabled>
</div>
<div>
  <label for="qualification">Qualification: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="qualification" value="{{practitioner?.qualification}}" disabled>
</div>
<div>
  <label for="organization">Organization: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="organization" value="{{practitioner?.organization?.name}}" disabled>
</div>
<div>
  <label for="birthDate">Birth date: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="birthDate" value="{{practitioner?.birthDate}}" disabled>
</div>
<div>
  <label for="gender">Gender: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="gender" value="{{practitioner?.gender}}" disabled>
</div>
<div>
  <label for="adress">Adress: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="adress" value="{{practitioner?.adress}}" disabled>
</div>
<div>
  <label for="phone">Phone: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="id" value="{{practitioner?.phone}}" disabled>
</div>
<div>
  <label for="email">Email: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="id" value="{{practitioner?.email}}" disabled>
</div>
<br>
</form>
</div>

