
  <div class="col d-flex justify-content-center">
  <div class="card mt-4 col-2 mx-auto">
    <img class="card-img-top" src="/assets/org.jpg" alt="organization" >
    <div class="card-body">
      <div class="card-title">ORGANIZATIONS</div>
      <p class="card-text"></p>
      <a routerLink="/organization">Click here to start working with organizations!</a>
    </div>
  </div>
  <div class="card mt-4 col-2 mx-auto">
    <img class="card-img-top" src="/assets/doc.jpg" alt="practitioner" >
    <div class="card-body">
      <div class="card-title">PRACTITIONERS</div>
      <p class="card-text"></p>
      <a  routerLink="/practitioner">Click here to start working with practitioners!</a>
    </div>
  </div>
  <div class="card mt-4 col-2 mx-auto">
    <img class="card-img-top" src="/assets/patient.jpg" alt="patient" >
    <div class="card-body">
      <div class="card-title">PATIENTS</div>
      <p class="card-text"></p>
      <a  routerLink="/patient">Click here to start working with patients!</a>
    </div>
  </div>
  <div class="card mt-4 col-2 mx-auto">
    <img class="card-img-top" src="/assets/exam.jpg" alt="examinations" >
    <div class="card-body">
      <div class="card-title">EXAMINATIONS</div>
      <p class="card-text"></p>
      <a  routerLink="/examination">Click here to start working with examinations!</a>
    </div>
  </div>

