<div class="form">
<form>
  <h1>Patient details:</h1>
<div>
  <label for="id">ID: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="id" value="{{patient?.id}}" disabled>
</div>
<div>
  <label for="identifier">Identifier: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="identifier" value="{{patient?.identifier}}" disabled>
</div>
<div>
  <label for="name">Name: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="name" value="{{patient?.name}}" disabled>
</div>
<div>
  <label for="surname">Surname: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="surname" value="{{patient?.surname}}" disabled>
</div>
<div>
  <label for="organization">Organization: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="organization" value="{{patient?.organization?.name}}" disabled>
</div>
<div>
  <label for="practitioner">Practitioner: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="practitioner" value="{{patient?.practitioner?.name}} {{patient?.practitioner?.surname}}" disabled>
</div>
<div>
  <label for="birthDate">Birth date: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="birthDate" value="{{patient?.birthDate}}" disabled>
</div>
<div>
  <label for="gender">Gender: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="gender" value="{{patient?.gender}}" disabled>
</div>
<div>
  <label for="maritialStatus">Maritial status: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="maritialStatus" value="{{patient?.maritialStatus}}" disabled>
</div>
<div>
  <label for="deceased">Deceased: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="deceased" value="{{patient?.deceased}}" disabled>
</div>
<div>
  <label for="adress">Address: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="adress" value="{{patient?.adress}}" disabled>
</div>
<div>
  <label for="phone">Phone: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="id" value="{{patient?.phone}}" disabled>
</div>
<div>
  <label for="email">Email: </label>
  <br>
  <input class="form-control form-control-inline" type="text" name="id" value="{{patient?.email}}" disabled>
</div>
<br>
</form>
</div>

