<div class="filter">
  <label for="organizationFilter">Organization:</label>
  <input class="form-control form-control-inline" type="text" name="organizationFilter" [(ngModel)]="organizationFilter">
  <label for="nameFilter">Name:</label>
  <input class="form-control form-control-inline" type="text" name="nameFilter" [(ngModel)]="nameFilter">
  <label for="surnameFilter">Surname:</label>
  <input class="form-control form-control-inline" type="text" name="surnameFilter" [(ngModel)]="surnameFilter">
  <label for="serviceTypeFilter">Service Type:</label>
  <input class="form-control form-control-inline" type="text" name="serviceTypeFilter" [(ngModel)]="serviceTypeFilter">
  <label>Status: </label>
  <select class="form-select form-control-inline" [(ngModel)]="statusFilter" name="statusSelect">
    <option value=""></option>
    <option value="planned">planned</option>
    <option value="triaged">triaged</option>
    <option value="in-progress">in-progress</option>
    <option value="finished">finished</option>
    <option value="cancelled">cancelled</option>
  </select>
  <label for="prioritySelect">Priority: </label>
      <select class="form-select form-control-inline" [(ngModel)]="priorityFilter" name="prioritySelect">
        <option value=""></option>
        <option value="asap">asap</option>
        <option value="callback results">callback results</option>
        <option value="emergency">emergency</option>
        <option value="routine">routine</option>
        <option value="rush reporting">rush reporting</option>
        <option value="timing critical">timing critical</option>
      </select>
  <br>
  <label for="pageSizeFilter">Number of displayed items:</label>
  <input type="text" class="form-control form-control-inline" name="pageSizeFilter" [(ngModel)]="pageSize">
  <button class="btn btn-success" (click)="onFilterClick()">Filter</button>
</div>
<button class="btn btn-outline-success mr-1" (click)="onAddClick()">Add+</button>
<br>
<br>
<label for="csvFileInput">Upload service types csv file:</label>
<br>
<input type="file" #csvReader name="Upload CSV" id="csvFileUpload" (change)="uploadCsv($event)" accept=".csv" />
<br>
<br>
<div class="table">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th sortable="organization.name" (sort)="onSort($event)" scope="col">Organization</th>
    <th sortable="patient.name" (sort)="onSort($event)" scope="col">Patient's name</th>
    <th sortable="patient.surname" (sort)="onSort($event)" scope="col">Patient's surname</th>
    <th sortable="serviceType.name" (sort)="onSort($event)" scope="col">Service Type</th>
    <th sortable="status" (sort)="onSort($event)" scope="col">Status</th>
    <th sortable="priority" (sort)="onSort($event)" scope="col">Priority</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let examination of examinations; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ examination.organization.name }} </td>
    <td>{{ examination.patient.name }} </td>
    <td>{{ examination.patient.surname }} </td>
    <td>{{ examination.serviceType.name }}</td>
    <td>{{ examination.status }}</td>
    <td>{{ examination.priority }}</td>
    <td>
      <button class="btn btn-outline-success mr-1" (click)="onEditClick(examination.id)">Edit</button>
      <button class="btn btn-outline-success mr-1" (click)="onDetailsClick(examination.id)" >Details</button>
      <button class="btn btn-outline-danger" (click)="onDeleteClick(examination)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" (pageChange)="onPageChange($event)" [pageSize]="pageSize" [boundaryLinks]="true" ></ngb-pagination>
</div>
</div>
